@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300;500;700&display=swap');
html,body{margin:0;padding:0;font-family:'Sarabun',sans-serif;font-weight:300;color:#333}
a{color:#235483}
a:hover,a:focus,a:active{color:#123e68}

/* Header 
=========================================================== */
header{position:fixed;top:0;left:0;width:100%;background:rgba(255,255,255,.2);z-index:1000;padding:5px 30px;}
header.stick{background:#e0e5e1;transition:.3s all;box-shadow:0 1px 3px rgba(0,0,0,.3)}
header nav{display:grid;grid-template-columns:auto max-content;align-items:center;grid-gap:30px}
header nav h1{margin-bottom:3px}
header nav h1>a{display:inline-block}
header nav h1>a img{width:90px}
header nav>ul>li{display:inline-block;vertical-align:middle;padding:5px 20px;position:relative}
header nav>ul>li>a{display:block;font-size:16px;font-weight:700;color:#235483;padding:0 0 2px;position:relative;transition:.3s all}
header nav>ul>li>a:after{content:'';width:0;height:1px;background:#BE865D;bottom:0;left:0;position:absolute}
header nav>ul>li.active>a:after,header nav>ul>li>a:hover:after{transition:.5s all;width:100%}
header nav>ul>li.sub-menu>a>span,header nav>ul>li.sub-menu>a>i{display:inline-block;vertical-align:middle}
header nav>ul>li.sub-menu:hover>a,header nav>ul>li.active>a,header nav>ul>li>a:hover{transition:.5s all;width:100%;color:#BE865D}
header nav>ul>li>a:hover{color:#BE865D;transition:.3s all}
header nav>ul>li.sub-menu>ul{display:block;position:absolute;top:300px;left:0;width:200px;background:#fff;box-shadow:0 1px 3px rgba(0,0,0,.3);padding:15px 0;transition:0 all;width:0;height:0;overflow:hidden;transform:rotate(360deg);opacity:0}
header nav>ul>li.sub-menu>ul>li{display:block;padding:0 15px}
header nav>ul>li.sub-menu>ul>li>a{display:block;padding:5px;font-size:15px;color:#235483;font-weight:700;border-bottom:1px solid rgba(0,0,0,.05)}
header nav>ul>li.sub-menu>ul>li:last-child>a{border-bottom-color:transparent}
header nav>ul>li.sub-menu>ul>li>a:hover,header nav>ul>li.sub-menu>ul>li>a:focus,header nav>ul>li.sub-menu>ul>li>a:active{color:#BE865D;transition:.3s all}
header #menu-bars{position:absolute;top:7px;right:15px;display:none;z-index:1001}
header #menu-bars:before{content:'\f0c9';font-family:"FontAwesome";font-size:26px;color:#508fce70}
header.active #menu-bars:before{content:'✖';font-size:30px;color:#ccc;font-family:initial}

/* Footer 
=========================================================== */
footer{padding: 50px 0 0;background: #393939;color: white;}
footer #copyright{padding: 5px;font-size: 13px;padding: 7.5px;text-align: center;margin: 20px 0 0;background: rgba(255,255,255,.1);}
footer>div>div:first-child{display: grid;grid-template-columns: auto auto auto auto;}
footer>div>div:last-child{border-top: 1px solid rgba(255,255,255,.1);padding: 20px 0 5px;}
footer>div>div:last-child>div>div{display: grid;grid-template-columns: auto auto;grid-gap: 50px;}
footer ul>li>a{color: rgba(255,255,255,.5);font-size: 14px;}
footer h4{font-size: 18px;}
footer ul{padding-left: 20px;}
footer ul>li{list-style: disc;}
footer p.head{margin: 0;text-align: center;}
footer p.head>b{font-size: 30px;color: white;}
footer p.head+p>a{font-size: 20px;color: rgba(255,255,255,.7);}
footer p.head+ul{padding: 0;}
footer p.head+ul>li{list-style: none;display: inline-block;vertical-align: middle;margin:  0 5px;}
footer p.head+ul>li>a{display: block;font-size: 30px;}


/* Slide 
=========================================================== */
#main-slider .carousel-control-next,#main-slider .carousel-control-prev{width:5%}
#main-slider .carousel-control-prev>i,#main-slider .carousel-control-next>i{font-size:46px}
#main-slider .carousel-item>div{background-size:cover;height:100vh;width:100%;background-repeat:no-repeat;background-position:bottom center}
#main-slider .carousel-item>div img{display:none}

/* Responsive 
=========================================================== */
@media(min-width: 992px) {
    header nav>ul>li.sub-menu:hover>a+ul{width:200px;transform:rotate(0);transition:1s opacity,.3s transform,.5s width,.5s height;top:95%;opacity:1;height:initial}
}
@media (max-width:1199px) {
    .container{width:100%!important;max-width:100%!important}
    header nav>ul>li{padding:5px 10px}
    #main-slider .carousel-item>div{height:initial;width:initial;background:transparent!important}
    #main-slider .carousel-item>div img{display:block}
}
@media (max-width: 991px) {
    header.active nav h1{position:relative;z-index:100;text-align:center;padding-top:20px}
    header.active nav h1>a img{width:150px}
    header nav>ul{background:#fff;width:100%;height:100%;position:fixed;top:0;left:0;display:block;text-align:center;padding-top:170px}
    header nav>ul>li{display:block;padding:10px;border-bottom:1px solid #f0f0f0}
    header nav>ul>li>a::after{display:none}
    header nav>ul>li.sub-menu>ul{display:none;position:relative;left:initial;top:initial;height:initial;width:initial;opacity:1;box-shadow:none;background:#f9f9f9}
    header nav>ul>li.sub-menu>ul>li>a{border:0;font-weight:400}
    header:not(.active) nav>ul{display:none}
    header{background:transparent}
    header nav h1>a img{width:50px}
    header{padding:2px 15px}
    header #menu-bars{display:inline-block}
}
@media (max-width:767px) {
    header.active nav h1 > a img{width:120px}
    header nav > ul{padding-top:140px}
    #main-slider .carousel-control-next,#main-slider .carousel-control-prev{width:10%}
    #main-slider .carousel-control-prev > i,#main-slider .carousel-control-next > i{font-size:34px}
    #main-slider .carousel-indicators li{width:15px;height:2px}
    #main-slider .carousel-indicators{margin-bottom:0}
}